<a href="https://colab.research.google.com/github/f00-/alternative-methods-of-regression-with-python/blob/master/Chapter_3_Least_Squares_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('ggplot')

## 3.9 Testing 

## 3.11 The Coefficient of Determination
The *coefficient of determination* is ameasure of how well the explanatory variables explain the response variable.

$$
R^2 = \frac{\sum(\hat y_i - \bar y)}{\sum(y_i - \bar y)}
$$

In [3]:
# from Chapter 3, Section 3.12 COMPUTATION, page 48
df = pd.DataFrame(data={
    'Y': [37, 40, 48, 44, 50, 51],
    'X_1': [4, 6, 6, 9, 11, 12],
    'X_2': [22, 24, 18, 20, 15, 9]})
df.head()

   X_1  X_2   Y
0    4   22  37
1    6   24  40
2    6   18  48
3    9   20  44
4   11   15  50

In [9]:
X = [4, 6, 6, 9, 11, 12]
Y = [37, 40, 48, 44, 50, 51]

# mean x and y
mean_x = np.mean(X)
mean_y = np.mean(Y)

# total number of values
n = len(df)

numer = 0
denom = 0
for i in range(n):
  numer += (X[i] * mean_x) * (Y[i] - mean_y)
  denom += (X[i] - mean_x) ** 2
b1 = numer / denom
b0 = mean_y - (b1 * mean_x)

print(b1, b0)

11.84 -49.72

In [12]:
ss_t = 0
ss_r = 0
for i in range(n):
  y_pred = b0 + b1 * X[i]
  ss_t += (Y[i] - mean_y) ** 2
  ss_r += (Y[i] - y_pred) ** 2
r2 = 1 - (ss_r/ss_t)
print(r2)

-32.856

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# cannot use Rank 1 matrixin scikit learn
X = reshape((m, 1))

reg = LinearRegression()
reg = reg.fit(X, Y)
y_pred = reg.predict(X)

r2_score = reg.score(X, Y)

print(reg.coef_)